<emp-ng-spinner #spinner [visible]="isLoadingVoucher"></emp-ng-spinner>

<div class="explorer" fxLayoutGap="32px">
    <div class="primary" [fxHide.lt-lg]="displayVoucherTabbedView">
        <insurance-contract [contractsList]="contractsList" (createContractEvent)="onCreateContractEvent($event)" 
            (selectedContractEvent)="onSelectedContractEvent($event)" (searchContractEvent)="onSearchContractEvent($event)"
        ></insurance-contract>       
    </div>

    <div class="secondary" *ngIf="selected">
    
        <emp-ng-card 
        [title]= "title"
        hint='Información general.'
        (cardClose)="onClose()">
        <div class="card-header-flat"></div>        
       
        <mat-tab-group>
            <mat-tab label="Informacion"> <app-contract-editor [contract]="contract" (contractUpdatedEvent)="onUpdateContract($event)" (contractDeletedEvent)="onDeleteContract($event)"></app-contract-editor> </mat-tab>
            <mat-tab label="Documentos"> Documentos </mat-tab>
            <mat-tab label="Poliza"> Poliza </mat-tab>
            <mat-tab label="Pagos">Pagos</mat-tab>
        </mat-tab-group>

        </emp-ng-card>

    </div>

    
</div>

<emp-ng-modal-window *ngIf="displayOptionModalSelected"
                     [config]="{width:'920px'}">
                     
    <insurance-contract-creator  
        (eventCloseCreateContract)="onEventCloseCreateContract($event)"
        (contractCreatorEvent)="onContractCreatorEvent($event)"
    ></insurance-contract-creator>
    
</emp-ng-modal-window>
