<div class="nav-bar">

  <ul>

    <li *empNgHasPermission="permissions.MENU_OPERACION_CONTABLE">
      <a routerLink='/polizas' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}">
        PÓLIZAS
      </a>
    </li>
    <li *empNgHasPermission="permissions.MENU_OPERACION_CONTABLE">
      <a routerLink='/pagos' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}">
        PAGOS
      </a>
    </li>
    <li *empNgHasPermission="permissions.MENU_OPERACION_CONTABLE">
      <a routerLink='/siniestros' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}">
        SINIESTROS
      </a>
    </li>
    <li *empNgHasPermission="permissions.MENU_OPERACION_CONTABLE">
      <a routerLink='/comisiones' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}">
        COMISIONES
      </a>
    </li>
  </ul>

</div>
