<emp-ng-card
  title='Nueva póliza'
  hint='Información general de la póliza'
  (cardClose)="onClose()">

  <div class="card-body-padding" [empNgSpinnerHost]="spinner">

    <emp-ng-spinner #spinner [visible]="submitted">

    </emp-ng-spinner>   

    <form [formGroup]="formHandler.form"  autocomplete="off"  class="form-section">

      <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

        <div fxLayout="row" fxLayout.lt-md="column">
                
         <div fxFlex="400px">
              <label for="full-name">Nombre del Contratante:</label>
              <input type="text" id="full-name" class="text-box"
               [formControlName]="controls.contractor">
          </div>
          <div fxFlex="415px">
              <label for="email">Correo electrínico:</label>
              <input type="text" id="email" class="text-box"
               [formControlName]="controls.email">
          </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column">

          <div fxFlex="400px">
            <label>Tipo de plan:</label>
            <emp-ng-select  
              [config]="{clearable: true}"        
              [formControlName]="controls.contractType"                              
              [items]="contractTypes">            
            </emp-ng-select>
          </div>
          <div [fxFlex]="100/3">
            <label>Forma de Pago:</label>
            <emp-ng-select  
              [config]="{clearable: true}"            
              [formControlName]="controls.paymentType"                   
              [items]="paymentTypes">            
            </emp-ng-select>
          </div>
          <div fxFlex="130px" fxFlex.lt-md="none">
            <label>Fecha valor:</label>
            <emp-ng-datepicker
              [formControlName]="controls.contractDate"
              [showError]="">
  
            </emp-ng-datepicker>
          </div>

      </div>

        <mat-divider class="horizontal"></mat-divider>

        <div fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex fxLayoutAlign="end center">
              <button type="submit"  class="btn-action"
                (click)="onSave()">
                Guardar
              </button>
          </div>    
        </div>

      </div>  

    </form>

  </div>

</emp-ng-card>
