<div class="card card-border">

    <div class="card-header card-header-flat">

        <div class="card-title">
           Administrador de Polizas
        </div>

        <div class="card-header-options">         
            <button class="btn-action" fxFlexOffset="1.5rem"
              (click)="onClickCreateContract()">
              Nueva póliza
            </button>      
        </div>

    </div>

    <div class="scrollable-container mat-elevation-z1">
        <table mat-table [dataSource]="contractsList" class="mat-elevation-z8 demo-table">
            
            <ng-container matColumnDef="Poliza">
                <th mat-header-cell *matHeaderCellDef>Poliza</th>
                <td mat-cell *matCellDef="let element">{{element.contractNo}}</td>
              </ng-container>
                          
              <ng-container matColumnDef="Parties">
                <th mat-header-cell *matHeaderCellDef>Contratante / Beneficiario</th>
                <td mat-cell *matCellDef="let element">{{element.parties[0].name}}<br> 
                                                    {{element.parties[1].name}} </td>
              </ng-container>
                          
              <ng-container matColumnDef="ContractType">
                <th mat-header-cell *matHeaderCellDef>Plan</th>
                <td mat-cell *matCellDef="let element">{{element.contractTypeInfo.name}}</td>
              </ng-container>
                          
              <ng-container matColumnDef="EmissionDate">
                <th mat-header-cell *matHeaderCellDef>Fecha de emisión</th>
                <td mat-cell *matCellDef="let element">{{element.startDate | date:"longDate"}}</td>
              </ng-container>
      
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{element.contractStatus}}</td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                  mat-row
                  (click)="onClickListItem(row)"                  
                  [ngClass]="{ 'row-is-clicked': row.contractNo === selectedRow.contractNo}"
                  *matRowDef="let row; columns: displayedColumns;"
              ></tr>
        </table>
    </div>
 
   
    
</div>
